---
import ButtonSubmit from '../components/ButtonSubmit.svelte';
import Textarea from '../components/Textarea.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container max-w-lg m-auto flex flex-col">
		<header class="py-4">
			<h1 class="text-3xl font-bold text-center">Fix my english! 🇬🇧</h1>
		</header>
		
	<div class="flex flex-col gap-y-2">
		<Textarea client:visible />
		<ButtonSubmit client:visible />
	</div>

	</main>
</Layout>
